* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}


/* Navigation menu */
.sidebar {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100vh;
	background: #56ab2f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: .4s ease-out;
	padding: 20px 0;
	text-align: center;
}


.sidebar.active {
	left: 0;  /* Active for Jquery sidebar*/
}

.sidebar a {
	text-decoration: none;
	
}
span.logo {
	font-size: 60px;
	color: #fff;
	text-shadow: 1px 0px 9px #333;
}

.sidebar .menu {
	margin: 0;
	padding: 40px 0;
}

.sidebar .menu li {
	list-style-type: none;
}

.sidebar .menu li a {
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	transition: all 250ms ease-out;
}

.sidebar .menu li a:hover {
	background: linear-gradient(to top, #a8e063, #56ab2f);
	color: #fff;
}


/* Social Icon */
.social-icon {
	margin: 5%;
	padding: 0;
	position: absolute;
	bottom: 1%;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 90%;
	/padding: 0 20px;
}

.social-icon li {
	flex: 0 0 auto;
	text-align: center;
	list-style-type: none;
}


.social-icon li a {
	display: block;
	font-size: 18px;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background: #FF8008;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: .5s;
}

.social-icon li a:hover {
	background: #FF8008; 
	
}


/* Hamburger menu */
.menu-hamburger {
	position: absolute;
	top: 24px;
	right: 20px;

}
#hamburger-icon {
	width: 36px;
	height: 20px;
	position: relative;
	display: block;
}
#hamburger-icon .line {
	display: block;
	background: #ecf0f1;
	background: #E84545;
	width: 36px;
	height: 2.5px;
	position: absolute;
	left: 0;
	right: 20px;
	border-radius: 10%;
	transition: all .4s;
}

#hamburger-icon .line.line-1 {
	top: 0;
}
#hamburger-icon .line.line-2 {
	top: 50%;
}
#hamburger-icon .line.line-3 {
	top: 100%;
	width: 20px;
}
/#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
	transform: translateY(-1.5px);

}
/#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
	transform: translateY(1.5px);
}
#hamburger-icon.active .line-1 {
	transform: translateY(10px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
	opacity: 0;
}
#hamburger-icon.active .line-3 {
	width: 36px;
	transform: translateY(-10px) translateX(0) rotate(-45deg);
}

